@import "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.size {
  &-normal {
    max-width: 1200px;

    @include media(lg) {
      max-width: 1024px;
      padding: 0 53px;
    }

    @include media(sm) {
      max-width: 360px;
      padding: 0 21px;
    }
  }

  &-big {
    max-width: 1920px;

    @include media(lg) {
      max-width: 1024px;
      padding: 0 10px;
    }

    @include media(sm) {
      max-width: 360px;
      padding: 0 21px;
    }
  }
}
