@import 'styles/media.scss';
.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 0 182px;

  @include media(lg) {
    margin: 0 0 0 82px;
  }
  @include media(sm) {
    margin: 0 0 0 0;
  }
}
.container {
  list-style-type: none;
  display: flex;
  align-items: center;

  @include media(sm) {
    display: none;
  }

  li {
    margin-right: 50px;
    white-space: nowrap;
    @include media(lg) {
      margin-right: 30px;
    }

    a {
      text-decoration: none;
      color: #ffffff;

      @media (min-width: 1025px) {
        &:hover {
          text-decoration-line: underline;
          text-underline-position: under;
          cursor: pointer;
        }
      }
    }
  }
}

.tel {
  text-decoration: none;
  color: #ffffff;
  margin-left: 134px;
  white-space: nowrap;

  @include media(lg) {
    margin-left: 57px;
  }

  @media (min-width: 1025px) {
    &:hover {
      text-decoration-line: underline;
      text-underline-position: under;
      cursor: pointer;
    }
  }
}
