@import "styles/media.scss";

.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 15.17%;

  @include media(lg) {
    padding: 0 0 0 9.3%;
  }

  @include media(md) {
    margin: 0 0 0 0;
    justify-content: flex-end;
  }
}

.container {
  display: flex;
  align-items: center;
  list-style-type: none;

  @include media(md) {
    display: none;
  }

  li {
    margin-right: 50px;
    white-space: nowrap;

    @include media(lg) {
      margin-right: 30px;
    }

    a {
      position: relative;
      padding-bottom: 2px;
      text-decoration: none;
      color: #ffffff;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-top: 1px;
        background: #ffffff;
        transition: transform 300ms ease;
        transform: scaleX(0);
      }

      @include hover {
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}

.tel {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  margin-left: 134px;
  white-space: nowrap;

  @include media(lg) {
    margin-left: 19px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 1px;
    background: #ffffff;
    transition: transform 300ms ease;
    transform: scaleX(0);
  }

  @include hover {
    &:hover::after {
      transform: scaleX(1);
    }
  }
}
