@import '../../../../styles/fontMixins.scss';
.root {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 0 182px;

  @include fontPNormal;
}
.container {
  list-style-type: none;
  display: flex;
  align-items: center;

  li {
    margin-right: 50px;
    white-space: nowrap;

    a {
      text-decoration: none;
      color: #ffffff;

      @media (min-width: 1025px) {
        &:hover {
          text-decoration-line: underline;
          text-underline-position: under;
          cursor: pointer;
        }
      }
    }
  }
}

.tel {
  text-decoration: none;
  color: #ffffff;
  margin-left: 134px;
  white-space: nowrap;

  @media (min-width: 1025px) {
    &:hover {
      text-decoration-line: underline;
      text-underline-position: under;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .root {
    margin: 0 0 0 82px;
  }
  .container li {
    margin-right: 30px;
  }
  .tel {
    margin-left: 57px;
  }
}
@media (max-width: 450px) {
  .root {
    margin: 0 0 0 0;
  }
  .container {
    display: none;
  }
}
