@import 'styles/media.scss';
.root {
  width: 100%;
  padding: 0 15px;
  @include media(lg) {
    padding: 0 10px;
  }
  @include media(sm) {
    padding: 0 5px;
  }
}
.image {
  border-radius: 50px;
  object-fit: cover;
  position: relative;
  height: 300px;
  overflow: hidden;
  @include media(sm) {
    height: 110px;
    border-radius: 20px;
  }
  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.isMobileHidden{
  display: block;
  @include media(sm) {
    display: none;
  }

}
.isHidden{
  display: block;
  @include media(lg) {
    display: none;
  }
}
.line {
  &-1 {
    max-width: 25%;
    @include media(lg) {
      max-width: 33%;
    }
    @include media(sm) {
      max-width: 50%;
    }
  }
  &-2 {
    max-width: 20%;
    @include media(lg) {
      max-width: 25%;
    }
    @include media(sm) {
      max-width: 33%;
    }
  }
}
