@import "styles/media.scss";

.root {
  width: 100%;
  padding: 33px 0px;
  background: #f4f0e9;

  @include media(md) {
    flex-direction: column;
    padding: 21px 0px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1168px;
  width: 100%;

  @include media(md) {
    flex-direction: column;
  }

  p {
    color: #a6a6a6;
  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 419px;
  height: 28px;
  list-style-type: none;

  @include media(md) {
    width: 317px;
    height: 35px;

    img {
      width: 21px;
      height: 21px;
    }
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 26px;
    text-decoration: none;

    @include media(md) {
      margin: 0 15px 0 0;
    }
  }

  a {
    position: relative;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
    color: #1b1f2b;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #1b1f2b;
      transition: color 300ms ease, background 300ms ease, transform 300ms ease;
      transform: scaleX(0);
      cursor: pointer;
    }

    @include hover {
      &:hover {
        cursor: pointer;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    @include media(md) {
      margin: 0 0 0 5px;
    }
  }

  ul {
    display: flex;
    justify-content: center;
  }
}
