@import 'styles/media.scss';
.root {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.form {
  width: auto;
  height: 986px;
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 70px;
  box-sizing: border-box;

  @include media(lg) {
    width: 918px;
    height: 966px;
    padding: 59px;
  }
  @include media(sm) {
    width: 318px;
    height: 1110px;
    padding: 20px;
    border-radius: 30px;
    margin: -12px 0 0 0;
  }
}
.group {
  display: flex;
  width: 1030px;
  height: 104px;
  justify-content: space-between;
  margin-bottom: 33px;

  @include media(lg) {
    width: 798px;
    height: 104px;
  }
  @include media(sm) {
    width: 100%;
    height: 178px;
    flex-direction: column;
    margin-bottom: 32px;
  }
}
input:invalid {
  color: #a6a6a6;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.have18 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 64px;
  justify-content: space-between;
  margin-bottom: 33px;
}
.answer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn {
  display: flex;
  align-items: center;
}