@import "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1170px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1170px;
  height: auto;
  padding: 70px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #fff;

  @include media(lg) {
    width: 918px;
    padding: 59px;
  }

  @include media(d) {
    width: 620px;
  }

  @include media(md) {
    width: 509px;
  }

  @include media(sm) {
    width: 318px;
    padding: 20px;
    margin: -12px 0 0 0;
    border-radius: 30px;
  }
}

.group {
  display: flex;
  justify-content: space-between;
  width: 1030px;
  height: auto;
  margin-bottom: 33px;

  @include media(lg) {
    width: 798px;
  }
  @include media(d) {
    flex-direction: column;
    width: 500px;
    margin-bottom: 0;
  }

  @include media(sm) {
    width: 100%;
    height: 178px;
    margin-bottom: 32px;
  }
}

input:invalid {
  color: #a6a6a6;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.have18 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 64px;
  margin-bottom: 33px;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn {
  display: flex;
  align-items: center;
}
