.button {
  width: 199px;
  height: 42px;
  background: none;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.button img {
  margin-left: 10px;
}
.button:hover {
  background: #286562;
  cursor: pointer;
}

.button.active {
  background: #efa501;
}
@media (max-width: 450px) {
  .button {
    margin-bottom: 25px;
    margin-left: 25px;
    width: 123px;
    height: 26px;
  }
  .button img {
    margin-left: 16px;
  }
}
