@import "styles/media.scss";

.root {
  width: 100%;
  height: auto;
}

.wraps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 0 -15px;

  @include media(lg) {
    margin: 0 -9px;
  }

  @include media(md) {
    flex-direction: column;
    align-items: center;
    margin: -6px 0;
  }
}
