@import "styles/media.scss";
@import "styles/fontMixins.scss";

.root {
  width: 235px;
  height: 58px;
  border-radius: 10px;
  border: none;

  @include Normal;

  @include media(md) {
    width: 134px;
    height: 47px;
  }
}

.color {
  &-about {
    width: 118px;
    height: 34px;
    background: #ffffff;
    color: black;

    @include Small;

    &:active {
      background: #f8e6be;
      color: #fff;
    }

    @media (min-width: 1025px) {
      &:hover {
        background: #efa501;
        color: #fff;
        cursor: pointer;
      }
    }
  }

  &-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 42px;
    background: none;
    border: none;
    color: #fff;
    border-radius: 50px;

    @include Big;

    img {
      margin-left: 10px;
    }

    @media (min-width: 1025px) {
      &:hover {
        background: #286562;
        cursor: pointer;
      }
    }

    &:active {
      background: #efa501;
    }

    @include media(sm) {
      width: 123px;
      height: 26px;
      margin-bottom: 25px;
      margin-left: 25px;

      img {
        margin-left: 16px;
      }
    }
  }
}
.type {
  &-submit {
    margin-right: 30px;
    background: #286562;
    color: #ffffff;

    @media (min-width: 1025px) {
      &:hover {
        background: #3b7e7b;
        cursor: pointer;
      }
    }

    &:active {
      background: #627f7e;
    }

    @include media(lg) {
      margin-right: 29px;
    }

    @include media(sm) {
      margin-right: 9px;
    }
  }

  &-reset {
    background: #e0f0e5;
    color: #286562;

    @media (min-width: 1025px) {
      &:hover {
        background: #f1f3f2;
        cursor: pointer;
      }
    }

    &:active {
      background: #d9dfdb;
    }
  }
}
