@import "styles/media.scss";

.root {
  width: 235px;
  height: 58px;
  border-radius: 10px;
  border: none;
  transition: background 300ms ease, color 300ms ease;

  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  @include media(md) {
    font-size: 16px;
    line-height: 142%;
    width: 134px;
    height: 47px;
  }

  @include media(md) {
  }
}

.color {
  &-about {
    width: 118px;
    height: 34px;
    background: #ffffff;
    color: black;

    font-weight: 400;
    font-size: 17px;
    line-height: 142%;
    letter-spacing: -0.01em;

    @include media(md) {
      font-size: 16px;
      line-height: 142%;
    }

    @include hover {
      &:hover {
        background: #efa501;
        color: #fff;
        cursor: pointer;
      }

      &:active {
        background: #f8e6be;
        color: #fff;
      }
    }
  }

  &-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 199px;
    height: 42px;
    background: none;
    border: none;
    color: #fff;
    border-radius: 50px;

    font-weight: 700;
    font-size: 23px;
    line-height: 122%;

    @include media(md) {
      font-size: 16px;
      line-height: 142%;
    }

    img {
      margin-left: 16px;
    }

    @include hover {
      &:hover {
        background: #286562;
        cursor: pointer;
      }

      &:active {
        background: #efa501;
      }
    }

    @include media(sm) {
      width: 123px;
      height: 26px;
      margin-bottom: 25px;
      margin-left: 24px;

      img {
        margin-left: 16px;
      }
    }
  }
}

.type {
  &-submit {
    margin-right: 30px;
    background: #286562;
    color: #ffffff;

    @include hover {
      &:hover {
        background: #3b7e7b;
        cursor: pointer;
      }

      &:active {
        background: #627f7e;
      }
    }

    @include media(lg) {
      margin-right: 29px;
    }

    @include media(md) {
      margin-right: 9px;
    }
  }

  &-reset {
    background: #e0f0e5;
    color: #286562;

    @include hover {
      &:hover {
        background: #f1f3f2;
        cursor: pointer;
      }

      &:active {
        background: #d9dfdb;
      }
    }
  }
}
