.comment {
  display: flex;
  width: 1030px;
  height: 188px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 33px;
}
.comment textarea {
  width: 1030px;
  height: 152px;
  border: none;
  background: #f9f7f4;
  border-radius: 10px;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 8px;
}
@media (min-width: 1025px) {
  .comment textarea:hover {
    background: #f4f0e9;
    border: 1px solid #a6a6a6;
  }
}
@media (max-width: 1200px) {
  .comment {
    display: flex;
    width: 798px;
    height: 188px;
    flex-direction: column;
    justify-content: space-between;
  }
  .comment textarea {
    width: 798px;
    height: 152px;
    border: none;
    background: #f9f7f4;
    border-radius: 10px;
  }
}
@media (max-width: 450px) {
  .comment {
    width: 278px;
    height: 163px;
    margin-bottom: 28px;
  }
  .comment textarea {
    width: 278px;
    height: 132px;
  }
}
