.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    list-style-type: none;
    display: flex;
    margin: 6px 0px 6px 33px;
}
.navbar li:first-child a{
    text-decoration: underline;
    text-underline-position: under;
    color: #EFA501;
}
.navbar li a{
    text-decoration: none;
    color: #1B1F2B;
    padding-right: 30px;
}
@media (min-width:1025px){
    .navbar li a:hover{
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
    }
}
.tour{
    max-width: 1170px;
    height: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    justify-content: center;
    grid-template-columns: 370px 370px 370px;
    grid-gap: 30px;
}
@media (max-width:1200px){
    .tour{
        grid-template-columns: 450px 450px;
        grid-gap: 18px;
    }
    .cards{
        width: 451px;
        height: 531px;
    }
    .cards-header{
        width: 339px;
        height: 42px;
    }
    .navbar {
        margin: 6px 0px 6px 26px;
    }
}
@media (max-width:450px){
    .navbar{
        width: 300px;
        height: 65px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 6px 0px -4px 10px;
    }
    .navbar li a{
        padding-right: 10px;
    }
    .tour{
        height: 1998px;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    .cards{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
    .cards-info{
        margin-top: 25px;
        margin-left: 25px;
    }
    .cards-header{
        width: 268px;
        height: 28px;
        margin: 0px 0px 13px 0px;
    }
    .cards-price{
        width: 268px;
        height: 23px;
    }
    .cards-more{
        padding: 0 0 0 1px;
    }
    .cards-more__button {
        margin-bottom: 25px;
        margin-left: 25px;
        width: 123px;
        height: 26px;
    }
    .cards-more__button  img{
        margin-left: 16px;
    }
}

.wrapperInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
    margin-bottom: 100px;
}
.headerInfo{
    width: 723px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}
.info{
    width: 418px;
    color: #A6A6A6;
    text-align: center;

}
@media (max-width:1200px){
    .info{
        width: 409px;
    }
}
@media (max-width:450px){
    .wrapperInfo{
        width: 318px;
        height: auto;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .headerInfo{
        width: 319px;
        height: auto;
        margin-bottom: 20px;
    }
    .info{
        width: 318px;
        height: 46px;
    }

}