@import "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 188px;
  margin-bottom: 33px;

  @include media(md) {
    height: 163px;
    margin-bottom: 28px;
  }

  textarea {
    width: 100%;
    height: 152px;
    padding: 20px;
    margin-top: 8px;
    box-sizing: border-box;
    background: #f9f7f4;
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    transition: background 300ms ease;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    @include media(md) {
      height: 132px;

      font-size: 16px;
      line-height: 142%;
    }

    @include hover {
      &:hover {
        background: #f4f0e9;
        border: 1px solid #a6a6a6;
        outline: 0;
      }
    }
  }
}
