@import '../../../styles/fontMixins.scss';
.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapperInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
  margin-bottom: 100px;
}
.headerInfo {
  width: 723px;
  height: auto;
  text-align: center;
  margin-bottom: 30px;
}
.navbar {
  list-style-type: none;
  display: flex;
  margin: 6px 0px 6px 33px;
  li:first-child a {
    text-decoration: underline;
    text-underline-position: under;
    color: #efa501;
  }
  a {
    text-decoration: none;
    color: #1b1f2b;
    padding-right: 30px;
    @media (min-width: 1025px) {
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
      }
    }
  }
}
.tour {
  max-width: 1170px;
  height: auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  justify-content: center;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
}
@media (max-width: 1200px) {
  .tour {
    grid-template-columns: 450px 450px;
    grid-gap: 18px;
  }
  .navbar {
    margin: 6px 0px 6px 26px;
  }
}
@media (max-width: 450px) {
  .wrapperInfo {
    width: 318px;
    height: auto;
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .headerInfo {
    width: 319px;
    height: auto;
    margin-bottom: 20px;
  }
  .navbar {
    width: 300px;
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 6px 0px -4px 10px;
    a {
      padding-right: 10px;
    }
  }
  .tour {
    height: 1998px;
    padding: 0px;
    display: flex;
    flex-direction: column;
  }
}
