.block1 {
  border-radius: 50px;
  width: 23.8%;
  object-fit: cover;
}
.block2 {
  border-radius: 50px;
  width: 18.6%;
  height: 301px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .block1 {
    border-radius: 50px;
    height: 300px;
    width: 314px;
    object-fit: cover;
    margin-right: 20px;
  }
  .block1:nth-child(3) {
    display: none;
  }
  .block2 {
    border-radius: 50px;
    height: 301px;
    width: 231px;
    object-fit: cover;
    margin-right: 20px;
  }
  .block2:nth-child(3) {
    display: none;
  }
}
@media (max-width: 450px) {
  .block1 {
    border-radius: 20px;
    width: 152px;
    height: 110px;
    margin-right: 15px;
  }
  .block2 {
    border-radius: 20px;
    width: 99px;
    height: 110px;
    margin-right: 10px;
  }
  .block1:nth-child(2) {
    display: none;
  }
  .block2:nth-child(4) {
    display: none;
  }
}
