@import "styles/media.scss";

.root {
  width: 50%;
  padding: 0 15px;

  @include media(lg) {
    padding: 0 10px;
  }

  @include media(md) {
    width: 100%;
    margin-bottom: 33px;
  }

  .item {
    width: 100%;
  }

  label {
    width: 100%;

    font-weight: 400;
    font-size: 20px;
    line-height: 142%;

    @include media(md) {
      font-size: 16px;
      line-height: 142%;
    }
  }
}

.select {
  width: 100%;
  height: 68px;
  margin-top: 8px;
  padding: 0 20px;
  appearance: none;
  overflow: hidden;
  background: #f9f7f4 url("../../../../public/img/svg/ic-dropdown.svg") no-repeat right;
  background-size: 5%;
  background-position: 97% 50%;
  border-radius: 10px;
  border: none;
  transition: background 300ms ease;
  outline: 0;

  font-weight: 400;
  font-size: 20px;
  line-height: 142%;

  @include media(md) {
    width: 100%;
    height: 43px;

    font-size: 16px;
    line-height: 142%;
  }

  &:invalid {
    padding-left: 20px;
    appearance: none;
    overflow: hidden;
    color: #a6a6a6;
    background: #f9f7f4 url("../../../../public/img/svg/ic-dropdown.svg") no-repeat right;
    background-size: 5%;
    background-position: 97% 50%;
  }

  @include hover {
    &:hover {
      background: #f4f0e9 url("../../../../public/img/svg/ic-dropdown.svg") no-repeat right;
      background-size: 5%;
      background-position: 97% 50%;
    }
  }
}
