@import "styles/media.scss";

.root {
  width: 100%;
  height: auto;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
  margin-bottom: 100px;

  @include media(lg) {
    margin-bottom: 68px;
  }

  @include media(md) {
    width: 318px;
    height: auto;
    margin-top: 76px;
    margin-bottom: 50px;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.headerInfo {
  height: auto;
  margin-bottom: 30px;
  text-align: center;

  @include media(md) {
    margin-bottom: 20px;
  }
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 6px 0px 6px 33px;
  list-style-type: none;

  @include media(lg) {
    margin: 6px 0px 6px 26px;
  }

  @include media(md) {
    margin: 9px 0px -9px 11px;
  }

  li {
    padding-right: 30px;

    @include media(lg) {
      margin-bottom: 30px;
    }

    @include media(md) {
      margin-bottom: 10px;
      padding-right: 0;
    }

    &:first-child a {
      color: #efa501;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #efa501;
        transform: scaleX(1);
      }
    }
  }

  a {
    position: relative;
    padding-bottom: 6px;
    text-decoration: none;
    color: #1b1f2b;

    @include media(md) {
      padding-right: 10px;
      padding-bottom: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #1b1f2b;
      transition: transform 300ms ease;
      transform: scaleX(0);
    }

    @include hover {
      &:hover::after {
        transform: scaleX(1);
      }
    }
  }
}

.tour {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: -15px;

  @include media(lg) {
    margin: -9px;
  }

  @include media(md) {
    flex-direction: column;
  }
}
