@import "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.wrapperInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
  margin-bottom: 100px;

  @include media(sm) {
    width: 318px;
    height: auto;
    margin-top: 75px;
    margin-bottom: 50px;
  }
}

.headerInfo {
  height: auto;
  margin-bottom: 30px;
  text-align: center;

  @include media(sm) {
    margin-bottom: 20px;
  }
}

.navbar {
  display: flex;
  margin: 6px 0px 6px 33px;
  list-style-type: none;

  @include media(lg) {
    margin: 6px 0px 6px 26px;
  }

  @include media(md) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    li {
      margin-bottom: 30px;
    }
  }

  @include media(sm) {
    width: 300px;
    height: 65px;
    margin: 6px 0px -4px 10px;
    li {
      margin-bottom: 10px;
    }
  }

  li:first-child a {
    text-decoration: underline;
    text-underline-position: under;
    color: #efa501;
  }

  a {
    padding-right: 30px;
    text-decoration: none;
    color: #1b1f2b;

    @include media(sm) {
      padding-right: 10px;
    }

    @media (min-width: 1025px) {
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
      }
    }
  }
}

.tour {
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
  max-width: 1170px;
  height: auto;
  padding: 0px;

  @include media(lg) {
    grid-template-columns: 450px 450px;
    grid-gap: 18px;
  }

  @include media(sm) {
    flex-direction: column;
    height: 1998px;
  }
}
