.photo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
}
.photoBlok{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.block{
    display: flex;
    flex-direction: row;
    max-width: 1900px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}
.block:first-child{
    margin-bottom: 30px;
}
.block:last-child{
    margin-top: 30px;
}
@media(max-width:1200px){
    .photoBlok{
        align-items: center;
    }
    .block{
       width: 984px;
       padding: 0;
    }
    .block img:last-child{
        margin-right: 0;
    }

    .disable1:nth-child(2){
        display: none;
    }
    .disable2:nth-child(3){
        display: none;
    }
    .disable3:nth-child(4){
        display: none;
    }
}
@media (max-width:450px){
    .block:first-child{
        margin-bottom: 18px;
    }
    .block:last-child{
        margin-top: 18px;
    }
    .block{
        width: 318px;
        padding: 0;
    }
    /* .disable2{
        display: none;
    } */
}