@import "styles/media.scss";

.root {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1168px;
  width: 90%;
  height: 31px;
  margin: 0 auto;
  padding: 3px 1px 0px 2px;

  @include media(sm) {
    height: 23px;
  }

  img {
    width: 181.8px;
    height: 30.2px;

    @include media(sm) {
      width: 133px;
      height: 22px;
    }
  }
}
