@import "styles/media.scss";

.root {
  display: flex;
  align-items: center;
  width: auto;
  height: 26px;
  margin-bottom: 33px;

  @include media(md) {
    width: 278px;
    height: 69px;
    margin-bottom: 30px;

    p {
      width: 223px;
      margin-left: 1px;
    }
  }

  label {
    color: #a6a6a6;
  }

  a {
    position: relative;
    text-decoration: none;
    color: #1b1f2b;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      margin-bottom: 2px;
      background: #1b1f2b;
      transition: color 300ms ease, background 300ms ease, transform 300ms ease;
      transform: scaleX(0);
    }

    @include hover {
      &:hover::after {
        transform: scaleX(1);
      }

      &:active {
        color: #286562;
      }

      &:active::after {
        transform: scaleX(1);
        background: #286562;
      }
    }

    @include media(sm) {
      margin-left: 1px;
    }
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;

  & + label {
    display: inline-flex;
    align-items: center;
    user-select: none;

    @include media(sm) {
      align-items: flex-start;
    }

    &:before {
      content: "";
      display: inline-block;
      width: 23px;
      height: 23px;
      margin-right: 19px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 2px solid #1b1f2b;
      border-radius: 0.25em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50%;

      @include media(lg) {
        margin-right: 9px;
      }

      @include media(md) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.checkbox:checked + label:before {
  border-color: #1b1f2b;
  background-image: url(../../../../../../public/img/svg/chack.svg);
}
