@import '../../../styles/fontMixins.scss';
.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 135px;
  margin-bottom: 100px;
}
.headerInfo {
  width: 723px;
  height: auto;
  text-align: center;
  margin-bottom: 30px;
}
.info {
  width: 418px;
  color: #a6a6a6;
  text-align: center;
  @include fontPNormal;
}
@media (max-width: 1200px) {
  .info {
    width: 409px;
  }
}
@media (max-width: 450px) {
  .root {
    width: 318px;
    height: auto;
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .headerInfo {
    width: 319px;
    height: auto;
    margin-bottom: 20px;
  }
  .info {
    width: 318px;
    height: 46px;
  }
}
