@import '../../../../styles/fontMixins.scss';

.root {
  width: 199px;
  height: 42px;
  background: none;
  border: none;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  img {
    margin-left: 10px;
  }
  &:hover {
    background: #286562;
    cursor: pointer;
  }
  &:active {
    background: #efa501;
  }
  @include fontPBig;
}

@media (max-width: 450px) {
  .root {
    margin-bottom: 25px;
    margin-left: 25px;
    width: 123px;
    height: 26px;
    img {
      margin-left: 16px;
    }
  }
}
