.reviews{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wraps{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: auto;
    height: 673px;
}

@media(max-width:1200px){
    .reviews{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .wraps{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        width: auto;
        height: 841px;
    }  
}
@media (max-width:450px){
    .info{
        width: 318px;
        height: 46px;
    }
    .wraps{
        flex-direction: column;
        width: 360px;
        height: 1018px;
        align-items: center;
    }
}
