@import '../../../styles/fontMixins.scss';
.root {
  width: 100%;
  height: 831px;
  background: url('../../../../public/img/png/header-img.png') center/ cover
    no-repeat;
  min-width: 1200px;
}
.about {
  width: auto;
  height: 743px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  width: 768px;
  height: 315px;
  color: #ffffff;
  text-align: center;
  margin: 119px 0px 50px 0px;
}
.description {
  color: #ffffff;
  width: 562px;
  height: 56px;
  text-align: center;
  margin: 0px 0px 50px 0px;

  @include fontPNormal;
}
.btm {
  width: 118px;
  height: 34px;
  background: #ffffff;
  border-radius: 10px;
  color: black;
  border: none;

  @include fontPSmall;
  &:active {
    background: #f8e6be;
    color: #fff;
  }
  @media (min-width: 1025px) {
    &:hover {
      background: #efa501;
      color: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .description {
    width: 457px;
  }
}
@media (max-width: 450px) {
  .root {
    height: 488px;
    min-width: 360px;
  }
  .title {
    width: 360px;
    height: 114px;
    margin: 140px 0px 40px 0px;
  }
  .description {
    width: 275px;
    height: 69px;
    margin: 0px 0px 40px 0px;
  }
  .about {
    height: 488px;
  }
  .btm {
    width: 114px;
    height: 33px;
  }
}
