@import "styles/media.scss";

.root {
  width: 100%;
  margin-bottom: 135px;
  padding-top: 132px;

  @include media(md) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 75px;
    padding-top: 75px;
  }

  img {
    border-radius: 50px;
    width: 370px;

    @include media(md) {
      border-radius: 20px;
      width: 133px;
    }
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 371px;
  height: 162px;
  padding: 0px;
  margin: 0 0 0 30px;

  @include media(md) {
    margin: 30px 0 0 0;

    h3 {
      text-align: center;
    }
  }

  @include media(md) {
    align-items: center;
    width: 291px;
    height: 122px;
    margin: 31px 0 0 0;

    h3 {
      width: 265px;
      margin: 0 0 1px 0;
    }
  }

  p {
    width: auto;
    height: 56px;
    margin-top: 20px;
    color: #a6a6a6;
    margin: 23px 0 0 0;

    @include media(md) {
      text-align: center;
      margin: 18px 0 0 0;
    }
  }

  a {
    position: relative;
    color: #1b1f2b;
    text-decoration: none;
    margin-left: 5px;
    transition: color 300ms ease;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-top: 1px;
      background: #1b1f2b;
      transition: color 300ms ease, background 300ms ease, transform 300ms ease;
      transform: scaleX(0);
    }

    @include hover {
      &:hover::after {
        transform: scaleX(1);
      }

      &:active {
        color: #286562;
      }

      &:active::after {
        background: #286562;
      }
    }
  }
}
