@import "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 50%;
  width: 100%;
  padding: 0 15px;

  @include media(lg) {
    padding: 3px 9px;
  }

  @include media(md) {
    max-width: 100%;
    padding: 6px 0;
  }

  .item {
    width: 100%;
    background: #f4f0e9;
    border-radius: 50px;
    padding: 34px 40px;

    @include media(md) {
      border-radius: 20px;
      padding: 21px 21px;
    }
  }

  img {
    border-radius: 50%;
  }
}

.review {
  height: 448px;

  @include media(lg) {
    height: 616px;
  }

  @include media(md) {
    height: auto;
  }

  p {
    margin-bottom: 29px;

    @include media(md) {
      margin-bottom: 25px;
    }
  }
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 145px;

  @include media(md) {
    height: 93px;
  }

  h3 {
    margin: 0 0 9px 0;

    @include media(lg) {
      margin-bottom: 8px;
    }
  }

  div {
    width: 415px;
    height: 75px;

    @include media(lg) {
      width: 295px;
    }

    @include media(md) {
      width: 283px;
      height: 59px;
    }
  }
}
