@import "styles/media.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 570px;
  height: 673px;
  background: #f4f0e9;
  border-radius: 50px;

  @include media(lg) {
    width: 450px;
    height: 841px;
  }

  @include media(d) {
    width: 570px;
    height: 673px;
  }

  @include media(sm) {
    width: 318px;
    height: 100%;
    border-radius: 20px;
    margin-right: 0;
  }

  img {
    border-radius: 50%;
  }

  &:first-child {
    margin-right: 30px;

    @include media(lg) {
      margin-right: 18px;
    }

    @include media(d) {
      margin-right: 0;
      margin-bottom: 18px;
    }

    @include media(sm) {
      margin-bottom: 18px;
      margin-right: 0;
    }
  }
}

.review {
  width: 482px;
  height: 448px;
  margin: 40px 40px 0 40px;

  @include media(lg) {
    width: 370px;
    height: 616px;
  }

  @include media(d) {
    width: 482px;
    height: 448px;
  }

  @include media(sm) {
    width: 277px;
    height: auto;
    margin: 20px 20px 0 20px;
  }
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 490px;
  height: 145px;
  margin-left: 41px;
  margin-bottom: 42px;

  @include media(lg) {
    width: 370px;
    height: 145px;
    margin-left: 39px;
    margin-bottom: 43px;
  }

  @include media(sm) {
    width: 278px;
    height: 115px;
    margin-left: 20px;
    margin-bottom: 21px;
  }

  h3 {
    margin: 0 0 9px 0;

    @include media(lg) {
      margin-bottom: 8px;
    }
  }
  div {
    width: 415px;
    height: 75px;

    @include media(lg) {
      width: 295px;
    }

    @include media(sm) {
      width: 283px;
      height: 59px;
    }
  }
}
