.find{
    width: 235px;
    height: 58px;
    background: #286562;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
    margin-right: 30px;
}
@media (min-width:1025px){
    .find:hover{
    background: #3B7E7B;
    cursor: pointer;
    }
}
.find:active{
    background: #627F7E;
}
@media(max-width:1200px){
    .find{
            margin-right: 29px;
        }
    }
    @media (max-width:450px){
        .find{
                width: 134px;
                height: 47px;   
                margin-right: 9px;
            }
        }