@import "styles/media.scss";
@import "styles/fontMixins.scss";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 50px;

  &:active button:active {
    background: #efa501;
  }

  @include media(md) {
    border-radius: 20px;
  }

  @include hover {
    &:hover .bg {
      transform: scale(1.2);
      cursor: pointer;
    }

    &:hover button {
      background: #286562;
      cursor: pointer;
    }
  }
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: inherit;
  transform: scale(1);
  transition: transform 300ms ease;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  color: #f1f3f2;
}

.size {
  &-product {
    max-width: 33.33333%;
    width: 100%;
    padding: 15px;
    cursor: pointer;

    @include media(lg) {
      max-width: 50%;
      padding: 9px;
    }

    @include media(md) {
      max-width: 100%;
    }

    .card {
      width: 100%;
      height: 531px;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);

      @include media(md) {
        height: 318px;
      }
    }

    .root:active button {
      background: #efa501;
    }

    .info {
      margin-top: 50px;
      margin-left: 50px;

      @include media(md) {
        margin-top: 25px;
        margin-left: 25px;
      }

      h3 {
        margin-bottom: 16px;

        @include media(md) {
          margin-bottom: 13px;
        }
      }

      p {
        @include Small;
      }
    }

    .btn {
      padding: 0 0 42px 30px;

      @include media(md) {
        padding: 0 0 0 1px;
      }
    }
  }

  &-story {
    width: 100%;

    &:nth-child(2) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include media(md) {
      &:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px;
      }

      h3 {
        width: 121px;
      }
    }

    .card {
      z-index: 1;
      width: 100%;
      height: 567px;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);

      @include media(md) {
        height: 455px;
      }
    }

    .info {
      margin-top: 60px;
      margin-left: 60px;
      margin-right: 60px;

      @include media(lg) {
        height: 394px;
      }

      @include media(md) {
        height: 306px;
        margin-top: 30px;
        margin-left: 30px;
      }

      p {
        width: 100%;
        max-width: 554px;
        height: auto;
        margin-top: 37px;

        @include media(lg) {
          height: 113px;
        }

        @include media(md) {
          width: 263px;
          height: 136px;
          margin-top: 22px;
        }
      }

      ul {
        margin-top: 27px;
        margin-left: 31px;

        @include media(lg) {
          margin-left: 29px;
        }

        @include media(md) {
          margin-top: 24px;
          margin-left: 24px;
        }
      }
    }

    .btn {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 60px 55px 40px;

      @include media(md) {
        width: 130px;
        height: 26px;
        margin-bottom: 17px;
        margin-left: 0px;
        padding: 0 0 0 6px;
      }
    }

    .link {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-end;
      width: 322px;
      height: 28px;

      @include media(md) {
        display: none;
      }

      a {
        position: relative;
        margin-left: 35px;
        text-decoration: none;
        color: #ffffff;
        transition: color 300ms ease;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          padding-top: 1px;
          background: #ffffff;
          transition: color 300ms ease, background 300ms ease, transform 300ms ease;
          transform: scaleX(0);
        }

        @include hover {
          &:hover::after {
            transform: scaleX(1);
          }

          &:active {
            color: #efa501;
          }

          &:active::after {
            background: #efa501;
          }
        }

        // @include hover {
        //   &:hover {
        //     text-decoration-line: underline;
        //     text-underline-position: under;
        //   }

        //   &:active {
        //     text-decoration-line: underline;
        //     color: #efa501;
        //   }
        // }
      }
    }
  }
}
