@import "styles/media.scss";

.root {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 567px;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 50px;

  &:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @include media(sm) {
    width: 318px;
    height: 455px;
    border-radius: 20px;

    &:nth-child(2) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h3 {
      width: 121px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 57px 25px 30px 60px;
  color: #f1f3f2;

  @include media(lg) {
    height: 394px;
  }

  @include media(sm) {
    height: 306px;
    padding: 30px 0 30px 30px;
  }

  p {
    width: 100%;
    max-width: 554px;
    height: auto;
    margin-top: 37px;

    @include media(lg) {
      height: 113px;
    }

    @include media(sm) {
      width: 263px;
      height: 136px;
      margin-top: 22px;
    }
  }

  ul {
    margin-top: 27px;
    margin-left: 31px;

    @include media(lg) {
      margin-left: 29px;
    }

    @include media(sm) {
      margin-top: 24px;
      margin-left: 24px;
    }
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 60px 60px 60px;

  @include media(sm) {
    width: 130px;
    height: 26px;
    margin-bottom: 17px;
    margin-left: 0px;
    padding: 0 0 0 6px;

    button {
      margin-bottom: 25px;
      margin-left: 25px;
    }
  }
}

.link {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 322px;
  height: 28px;

  @include media(md) {
    display: none;
  }

  a {
    margin-left: 35px;
    text-decoration: none;
    color: #ffffff;

    &:active {
      text-decoration-line: underline;
      color: #efa501;
    }
  }
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  width: inherit;
  height: inherit;
  object-fit: cover;
  transition: transform 300ms ease;
  transform: scale(1);
}

.root:active button:active {
  background: #efa501;
}

@media (min-width: 1025px) {
  .root:hover .bg {
    transform: scale(1.2);
    cursor: pointer;
  }

  .root:hover button {
    background: #286562;
    cursor: pointer;
  }

  .link a:hover {
    text-decoration-line: underline;
    text-underline-position: under;
    cursor: pointer;
  }
}
